.twap-section {
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.twap-order-details__detail-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 10px;
  justify-content: space-between;
}
.twap-order-details__detail-row-label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.twap-create-order-bottom {
  width: 100%;
}

.twap-panel-header {
  margin-bottom: 5px;
}

.twap-trades-amount-panel-text {
  font-size: 14px;
  opacity: 0.7;
}
.twap-powered-by {
  padding-top: 15px;
  font-size: 15px;
  color: rgb(243 242 244 / 1);
  font-weight: 500;
}

.twap-orders__list-empty {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twap-orders__selection button {
  font-size: 13px;
}
.twap-orders__button {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  background: rgb(26 18 30 / 1);
  margin-top: 10px;
  padding: 12px;
  align-items: center;
  border-radius: 0.75rem;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s all;
}
.twap-orders__button .twap-spinner {
  margin-right: 15px;
}
.twap-orders__button > svg {
  margin-left: auto;
}
.twap-orders__button:hover {
  background: rgb(36 25 41 / 1);
}
.twap-orders .twap-select-menu {
  max-width: 160px;
}
.twap-orders__list {
  height: 600px;
  max-height: 55vh;
}
.twap-orders__list-item-progress {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}
.twap-orders__list-item-token-progress-label {
  width: 30px;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}
.twap-orders__list-item-progress-bar {
  height: 6px;
  flex: 1;
  background: rgb(220 0 212/0.3);
  border-radius: 10px;
}
.twap-orders__list-item-progress-bar-filled {
  height: 100%;
  background: rgb(220 0 212/1);
  border-radius: 10px;
}
.twap-orders__list-item-token-progress-label {
  font-size: 13px;
}
.twap-orders__list-item {
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s all;
}
.twap-orders__list-item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.twap-orders__list-item:hover {
  background: rgb(53 36 61 / 0.5);
}
.twap-orders__list-item-token {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.twap-orders__list-item-token img {
  width: 20px;
  height: 20px;
}
.twap-orders__list-item-token-symbol {
  font-size: 13px;
  font-weight: 500;
}
.twap-orders__list-item-tokens {
  display: flex;
  gap: 10px;
  align-items: center;
}
.twap-orders__list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twap-orders__list-item-header-title {
  font-size: 13px;
  font-weight: 500;
}
.twap-orders__list-item-header-title span {
  opacity: 0.7;
  font-size: 12px;
}
.twap-orders__list-item-header-status {
  font-size: 11px;
  opacity: 0.7;
  font-weight: 500;
  padding: 3px 7px;
  border-radius: 10px;
  background: rgb(53 36 61 / 1);
}

.twap-orders__selected-order-header {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}
.twap-orders__selected-order-accordions {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
}
.twap-orders__selected-order-accordion-trigger {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
}
.twap-orders__selected-order-accordion {
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
  background: rgb(53 36 61 / 0.5);
}
.twap-order-details__fill-delay-text {
  font-size: 14px;
  margin-top: 10px;
}
.twap-orders__selected-order-accordion .twap-order-details {
  padding: 12px;
  padding-top: 0px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.twap-order-details__detail-row-label {
  font-size: 14px;
  color: rgb(243 242 244 / 1);
}
.twap-order-details__detail-row-value {
  font-size: 13px;
  color: rgb(243 242 244 / 1);
}
.twap-orders__selected-order-header-back-icon {
  margin-right: 10px;
}

.twap-orders__selected-order-header-back-icon svg {
  width: 16px;
  height: 16px;
}
.orbs_MainTokenLeft {
  gap: 6px;
}
.orbs_MainTokenTitle {
  font-weight: 500;
  font-size: 15px;
  opacity: 0.7;
}
.orbs_MainTokenUsd {
  font-size: 13px;
  opacity: 0.7;
}
.orbs_MainTokenAmount {
  font-size: 18px;
  font-weight: 500;
}

.twap-select-menu input {
  padding: 5px 10px;
}

.twap-select-menu * {
  text-transform: capitalize;
  font-size: 14px;
}

.twap-create-order-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background: rgb(53 36 61 / 0.5);
  border-radius: 0.75rem;
  margin-top: 16px;
}

.orbs_TradeStepLayoutTitle {
  font-size: 17px;
}
.orbs_TradePreviewToken p {
  font-size: 14px;
}
.orbs_TradepPreviewLogo {
  width: 20px;
  height: 20px;
}
.orbs_StepIndicatorLine {
  background: rgb(220 0 212/1) !important;
}
{

}
.twap-orders-modal .twap-select-menu  {
  max-width: 150px;
}
.twap-select-menu-portal {
  z-index: 999;
}

.twap-order-details__detail-row-value-id {
  display: flex;
  align-items: center;
  gap: 7px;
}
.twap-order-details__detail-row-value-usd {
  font-size: 12px;
  opacity: 0.7;
}
.twap-select-menu-portal div {
  font-size: 14px;
  padding: 8px 10px;
}
.twap-orders__list-item-select-mode {
  opacity: 0.5;
  pointer-events: none;
}

.twap-orders__list-item-select-mode.twap-orders__list-item-OPEN {
  opacity: 1;
  pointer-events: auto;
}

.twap-orders__list-item-OPEN.twap-orders__list-item-selected {
  background: rgb(220 0 212/0.2);
}

@media (max-width: 768px) {
  .twap-order-details__detail-row-label {
    font-size: 12px;
  }
  .twap-order-details__detail-row-value {
    font-size: 12px;
  }
}
