.twap-limit-panel {
  position: relative;
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
  padding: 1rem;
}

.twap-limit-panel-input {
  border: unset;
  padding: 0;
}
.twap-limit-panel-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.twap-limit-panel-header p {
  font-size: 14px;
}
.twap-limit-panel-header img {
  width: 20px;
  height: 20px;
}
.twap-limit-price-panel-percent {
  margin-left: auto;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 5px;
}

.twap-select-button {
  background: rgb(53 36 61 / 1);
  border-radius: 0.5rem;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  transition: 0.2s all;
}

.twap-select-button-selected {
  background: rgb(66 45 76 / 1);
}
.twap-select-button:hover {
  background: rgb(66 45 76 / 1);
}

.twap-limit-panel-input-container {
  position: relative;
}
.twap-limit-panel-input > div > div {
  margin-right: 40px;
}

.twap-limit-price-panel-percent-reset {
  display: flex;
  align-items: stretch;
  gap: 2px;
}

.twap-limit-price-panel-percent-reset-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.twap-limit-price-panel-percent-reset-icon {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.twap-limit-panel-input > div:last-child {
  display: none;
}

.twap-limit-panel-invert-button {
  position: absolute;
  right: 0px;
  top: 2px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
}

.twap-limit-panel-invert-button svg {
  width: 20px;
  height: 20px;
}

.twap-price-switch {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.twap-panel-header {
  margin-bottom: 5px;
}

.twap-trades-amount-panel-text {
  font-size: 14px;
  opacity: 0.7;
}
.twap-powered-by {
  padding-top: 15px;
  font-size: 15px;
  color: rgb(243 242 244 / 1);
  font-weight: 500;
}

.twap-orders {
  min-height: 300px;
}
.twap-orders__button {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  background: rgb(26 18 30 / 1);
  margin-top: 10px;
  padding: 12px;
  align-items: center;
  border-radius: 0.75rem;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s all;
}
.twap-orders__button .twap-spinner {
  margin-right: 15px;
}
.twap-orders__button > svg {
  margin-left: auto;
}
.twap-orders__button:hover {
  background: rgb(36 25 41 / 1);
}
.twap-orders .twap-select-menu {
  max-width: 160px;
}
.twap-orders__list {
  height: 600px;
  max-height: 55vh;
  padding-top: 20px;
}
.twap-orders__list-item-progress-bar {
  height: 5px;
  flex: 1;
  background: rgb(220 0 212/0.3);
  border-radius: 10px;
}
.twap-orders__list-item-progress-bar-filled {
  height: 100%;
  background: rgb(220 0 212/1);
  border-radius: 10px;
}
.twap-orders__list-item-token-progress-label {
  font-size: 13px;
}
.twap-orders__list-item {
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s all;
}
.twap-orders__list-item:hover {
  background: rgb(53 36 61 / 0.5);
}
.twap-orders__list-item-header-title {
  font-size: 13px;
  font-weight: 500;
}
.twap-orders__list-item-header-title span {
  opacity: 0.7;
  font-size: 12px;
}
.twap-orders__list-item-header-status {
  font-size: 11px;
  opacity: 0.7;
  font-weight: 500;
  padding: 3px 7px;
  border-radius: 10px;
  background: rgb(53 36 61 / 1);
}

.twap-orders__selected-order-header {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}
.twap-orders__selected-order-accordions {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
}
.twap-orders__selected-order-accordion-trigger {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
}
.twap-orders__selected-order-accordion {
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
}
.twap-order-details__fill-delay-text {
  font-size: 14px;
  margin-top: 10px;
}
.twap-orders__selected-order-accordion .twap-order-details {
  padding: 12px;
  padding-top: 0px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.twap-order-details__detail-row-label {
  font-size: 14px;
  color: rgb(243 242 244 / 1);
}
.twap-order-details__detail-row-value {
  font-size: 13px;
  color: rgb(243 242 244 / 1);
}
.twap-orders__selected-order-header-back-icon {
  margin-right: 10px;
}

.twap-orders__selected-order-header-back-icon svg {
  width: 16px;
  height: 16px;
}
.orbs_MainTokenLeft {
  gap: 4px;
}
.orbs_MainTokenTitle {
  font-weight: 400;
  font-size: 15px;
}
.orbs_MainTokenUsd {
  font-size: 14px;
  opacity: 0.7;
}
.orbs_MainTokenAmount {
  font-size: 18px;
  font-weight: 500;
}

.twap-warning-message {
  font-size: 14px;
  color: rgb(243 242 244 / 1);
  margin-top: 10px;
}
.twap-warning-message svg {
  position: relative;
  top: 2px;
}

.twap-input input {
  font-size: 16px;
  color: rgb(243 242 244 / 1);
  padding: 0px;
  height: 35px;
}

.twap-inputs {
  display: flex;
  gap: 8px;
  align-items: stretch;
}

.twap-trades-amount-panel {
  width: 40%;
}
.twap-trade-interval-panel {
  flex: 1;
}
.twap-select-menu {
  max-width: 100px;
}

.twap-duration-panel .twap-select-menu {
  max-width: 150px;
}

.twap-select-menu input {
  padding: 5px 10px;
}

.twap-select-menu * {
  text-transform: capitalize;
  font-size: 14px;
}

.twap-trade-amount-message {
  font-size: 14px;
}

.twap-trade-amount-message-error {
  color: #ff3333;
}

.twap-panel {
  border: 1px solid rgb(53 36 61 / 1);
  border-radius: 0.75rem;
  padding: 10px;
}
.twap-panel-error .twap-input input {
  color: #ff3333;
}

.twap-create-order-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background: rgb(53 36 61 / 0.5);
  border-radius: 0.75rem;
  margin-top: 16px;
}

.twap-order-modal-disclaimer {
  margin-top: 10px;
}
.twap-order-modal-disclaimer a {
  text-decoration: underline;
}

.orbs_TradeStepLayoutTitle {
  font-size: 17px;
}
.orbs_TradePreviewToken p {
  font-size: 14px;
}
.orbs_TradepPreviewLogo {
  width: 20px;
  height: 20px;
}
.orbs_StepIndicatorLine {
  background: rgb(220 0 212/1);
}
@media (max-width: 768px) {
  .twap-inputs {
    flex-direction: column;
  }
  .twap-trade-interval-panel {
    width: 100%;
  }
  .twap-trades-amount-panel {
    width: 100%;
  }
  .twap-order-details__detail-row-label {
    font-size: 12px;
  }
  .twap-order-details__detail-row-value {
    font-size: 12px;
  }
}
