@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Archia';
    src: url('/fonts/Archia-Regular.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Archia';
    src: url('/fonts/Archia-Medium.otf') format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Archia';
    src: url('/fonts/Archia-Semibold.otf') format('opentype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonikpro-Air.otf') format('opentype');
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-3xl font-bold lg:text-5xl;
  }

  h1,
  .h1 {
    @apply font-aeonik text-2xl font-semibold lg:text-4xl;
  }

  h2,
  .h2 {
    @apply font-archia text-xl font-semibold leading-6 text-neutral-50 lg:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold lg:text-2xl;
  }

  h4,
  .h4 {
    @apply font-bold lg:text-lg;
  }

  body {
    font-family: Inter, sans-serif !important;
    @apply bg-neutral-950 text-base leading-tight text-neutral-50 antialiased;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    @apply mx-4 mt-[64px] max-w-[1464px] pb-[150px] pt-6 lg:mx-[40px] lg:mt-[92px] lg:pb-20 lg:pt-16 xl:mx-[120px] 2xl:mx-auto 2xl:w-[1312px] 3xl:w-[1464px];
  }

  .layout-add-liquidity {
    @apply mx-6 mb-12 mt-8 md:mx-8 md:mb-12 xl:mx-12 2xl:mx-16 2xl:mb-[180px] 2xl:mt-6 3xl:mx-auto 3xl:w-[1440px];
  }

  .layout-top {
    @apply mt-[64px] lg:mt-[92px];
  }

  .layout-container {
    @apply mx-4 mt-[128px] max-w-[1440px] pb-[150px] pt-0 lg:mx-[40px] lg:mt-[176px] lg:pb-20 lg:pt-10 xl:mx-[120px] 2xl:mx-auto 2xl:w-[1440px];
  }

  .layout-menu-container {
    @apply mx-4 max-w-[1440px] lg:mx-[40px] xl:mx-[120px] 2xl:mx-auto 2xl:w-[1440px];
  }

  body.has-v3-banner .layout,
  body.has-v3-banner .layout-top {
    @apply mt-[64px] md:mt-0;
  }

  .layout-dashboard {
    @apply mt-[64px] md:mt-[92px];
  }

  body.has-v3-banner .layout-dashboard {
    @apply lg:mt-0;
  }

  body.has-v3-banner .layout-container {
    @apply mt-[244px] lg:mt-[230px];
  }

  body.has-v3-banner {
    @apply mt-[116px] md:mt-[146px];
  }
}

@layer utilities {
  .animate-gradient {
    background: linear-gradient(270deg, #b386ff, #ff86fa, #b386ff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }

  .table__animate-gradient {
    background: linear-gradient(270deg, #8c6ac5, #6d156a, #9765ec);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }
}

::-webkit-scrollbar {
  /* height of horizontal scrollbar ← You're missing this */
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(0 0 0 / 30%);
}

::-webkit-scrollbar-thumb {
  background-color: #34243d;
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

img,
video {
  max-width: unset;
  height: auto;
}

input:focus {
  box-shadow: none !important;
}

input:focus-visible {
  outline: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='radio']:checked:before {
  background: linear-gradient(180deg, #e416d0 0%, #8f1ddf 64.71%, #1027f5 111.93%);
}

input[type='radio']:checked {
  background-color: #e416d0;
}

input[type='radio']:checked:hover {
  color: #e416d0;
}

input[type='radio']:checked:before {
  background-color: #e416d0;
}

input[type='radio']:checked:after {
  background-color: #e416d0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 100ms ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.notify-class {
  z-index: 99999;
}

.notify-class .Toastify__toast {
  background: #281b2e 0% 0% no-repeat padding-box;
  border-radius: 12px;
}

.swap-bg {
  border-radius: 763px;
  opacity: 0.2;
  background: linear-gradient(180deg, #e416d0 0%, #8f1ddf 64.71%, #1027f5 111.93%);
  filter: blur(264px);
  width: 400px;
  height: 763px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  z-index: -1;
}

.desktop-bg {
  background-image: url(/images/background.png);
  background-size: cover;
}

.graphics-bg {
  background-image: url(/images/graphics.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.react-datepicker {
  border-radius: 5px;
  border: 0;
}

.react-datepicker .react-datepicker__triangle {
  display: none;
}

.react-datepicker .react-datepicker__navigation-icon::before {
  top: 11px;
}

.react-datepicker .react-datepicker__input-container {
  height: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.stats-blob {
  transform: rotate(-90deg);
  background: linear-gradient(180deg, #e416d0 0%, #8f1ddf 64.71%, #1027f5 111.93%);
}

.shadow-box {
  box-shadow: 0px 10px 23px 0px rgba(191, 115, 248, 0.24);
}

.gradient-text {
  background: linear-gradient(90deg, #b386ff 0%, #ff86fa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(90deg, #b386ff 0%, #ff86fa 100%);
}

.bg-landing-page-gradient {
  border: 1px solid rgba(220, 0, 212, 0.08);
  background: linear-gradient(0deg, rgba(26, 13, 31, 0.45) 0%, rgba(26, 13, 31, 0.45) 100%), #070408;
}

.rc-slider {
  height: 40px !important;
  padding: 16px 0 !important;
}

.rc-slider .rc-slider-rail {
  padding-top: 8px;
  height: 8px !important;
  background-color: #281b2e !important;
}

.rc-slider .rc-slider-track {
  height: 8px !important;
  background-color: #dc00d4 !important;
}

.rc-slider .rc-slider-step {
  height: 8px !important;
}

.rc-slider .rc-slider-handle {
  border: 2px solid #dc00d4;
  background-color: #580055 !important;
  width: 24px !important;
  height: 24px !important;
  opacity: 1;
  transform: translate(-50%, -4px) !important;
}

.rc-slider .rc-slider-handle:hover {
  border: 2px solid #b000aa;
}

.rc-slider .rc-slider-handle:active {
  border: 2px solid #b000aa;
  box-shadow: unset !important;
}

.rc-slider .rc-slider-handle:focus-visible {
  border: 2px solid #b000aa;
  box-shadow: unset !important;
}

.rc-slider .rc-slider-handle-dragging {
  border: 2px solid #b000aa;
  box-shadow: unset !important;
}

.name-color-1 {
  color: #ffffff;
}

.name-color-2 {
  color: #dc00d4;
}

.name-color-3 {
  color: #f5df00;
}

.name-color-4 {
  color: #f51c00;
}

.name-color-5 {
  color: #00d1ed;
}

.bg-color-1 {
  background-color: #ffffff;
}

.bg-color-2 {
  background-color: #dc00d4;
}

.bg-color-3 {
  background-color: #f5df00;
}

.bg-color-4 {
  background-color: #f51c00;
}

.bg-color-5 {
  background-color: #00d1ed;
}

.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.show-more {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.react-datepicker {
  border-radius: 5px;
  padding: 0.5em;
  font-family: Archia, sans-serif;
  background-color: #281b2e;
  color: #fff;
  width: 100%;
}

.custom-datepicker-popper {
  padding-top: 0.3em !important;
}

.react-datepicker__input-container {
  width: 100%;
  display: table;
}

.react-datepicker__navigation {
  height: 50px;
}

.react-datepicker__triangle::after {
  visibility: hidden;
}

.react-datepicker__triangle::before {
  visibility: hidden;
}

.react-datepicker__header {
  border-bottom: none;
  background-color: #281b2e;
}

.react-datepicker__navigation--next {
  background-color: #281b2e;
}

.react-datepicker__navigation--previous {
  background-color: #281b2e;
}

.react-datepicker__month-container,
.react-datepicker__time-container {
  background-color: #281b2e;
  font-weight: normal;
  color: #fff;
  width: 100%;
}

.react-datepicker.react-datepicker--time-only {
  width: auto;
}

.react-datepicker__month {
  width: 100%;
  margin: 0;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: #281b2e;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  height: 30px;
  color: #fff;
}

.react-datepicker__day-names {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.react-datepicker__day-name {
  color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.125;
}

.react-datepicker__week {
  display: flex;
  flex-direction: row;
}

.react-datepicker__day,
.react-datepicker__time-list-item {
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.25rem;
  flex: 1;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):hover {
  background-color: #b000aa;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:not(.react-datepicker__time-list-item--disabled):hover {
  background-color: #b000aa;
}

.react-datepicker-wrapper {
  max-width: 100%;
}

.change-month-icon {
  border: none;
  background-color: #35243d;
  font-size: 1rem;
  color: #fff;
}

.select-month {
  border: none;
  font-size: 1rem;
  width: 100px;
  text-align: center;
}

.react-datepicker__day--disabled,
.react-datepicker__time-list-item--disabled {
  cursor: default;
  font-weight: 500;
  color: #c5c5c5;
}

.react-datepicker__day--selected,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #84007f;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}

.react-datepicker__day--today {
  background-color: #31042f;
}

.particle-pwe-btn {
  display: none;
}

.particle-pwe-iframe-content {
  top: 85px !important;
  right: 40px !important;
  left: auto !important;
}

.border-gradient-secondary {
  @apply bg-gradient-to-b from-gradient-secondary-start to-gradient-secondary-end;
}

.text-gradient-tertiary {
  @apply bg-gradient-to-r from-gradient-tertiary-start to-gradient-tertiary-end bg-clip-text text-transparent;
}

.text-gradient-primary {
  @apply bg-gradient-to-r from-gradient-primary-start to-gradient-primary-end bg-clip-text text-transparent;
}

.shadow-linear {
  box-shadow: 0 0 10px 1px rgba(223, 8, 212, 0.38);
}

.animated-border-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 0.75rem;
  text-align: center;
}

.animated-border-box:before {
  content: '';
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(rgba(0, 0, 0, 0), #7b0a79, rgba(0, 0, 0, 0) 25%);
  animation: rotate 2s linear 2s infinite;
}

.animated-border-box:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  /* background: #292a2e; */
  border-radius: 0.75rem;
}

.rounded-xs {
  border-radius: 4px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.price-chart-container .tv-lightweight-charts table tr:first-child {
  border-bottom: 2px solid #281b2e;
}

.bg-full-range {
  background: linear-gradient(
    90deg,
    rgba(189, 96, 186, 0.1) 10.19%,
    rgba(189, 96, 186, 0.2) 50.11%,
    rgba(189, 96, 186, 0.1) 90.02%
  );
}

.text-gradient-primary-b {
  @apply bg-gradient-to-b from-primary-300 to-primary-600 bg-clip-text text-transparent;
}

.handle--n,
.handle--s {
  pointer-events: all;
}
